{
	"openapi": "3.0.1",
	"info": {
		"title": "Inmobalia CRM API",
		"contact": {
			"name": "Inmoba",
			"url": "https://www.inmoba.com",
			"email": "support@inmoba.com"
		},
		"version": "v1"
	},
	"servers": [
		{
			"url": "https://api-crm.inmobalia.com",
			"description": "Generated server url"
		}
	],
	"security": [
		{
			"authorization": []
		}
	],
	"tags": [
		{
			"name": "Activities Types"
		},
		{
			"name": "Properties"
		},
		{
			"name": "Sale Stages"
		},
		{
			"name": "Events"
		},
		{
			"name": "Property Categories"
		},
		{
			"name": "Property Tags"
		},
		{
			"name": "Users"
		},
		{
			"name": "Web Leads"
		},
		{
			"name": "Property Features"
		},
		{
			"name": "Bookings"
		},
		{
			"name": "Sales"
		},
		{
			"name": "Locations"
		},
		{
			"name": "Contacts Sources"
		},
		{
			"name": "Enquiries"
		},
		{
			"name": "Contacts Lead Status"
		},
		{
			"name": "Contacts"
		},
		{
			"name": "Activities"
		},
		{
			"name": "Contacts Tags"
		},
		{
			"name": "Property Types"
		}
	],
	"paths": {
		"/v1/web-leads/{webLeadId}/processed": {
			"put": {
				"tags": [
					"Web Leads"
				],
				"summary": "Set a WebLead as processed",
				"operationId": "processed",
				"parameters": [
					{
						"name": "webLeadId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WebLeadProcessedDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebLeadResponseDTO"
								}
							}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties/{propertyId}": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Finds a property by ID",
				"description": "Returns a single property",
				"operationId": "findById_2",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyResponseDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Properties"
				],
				"summary": "Update property",
				"operationId": "update",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PropertyUpdateDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyResponseDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"409": {
						"description": "Conflict"
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Properties"
				],
				"summary": "Partial Updates property",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the PropertySaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "update_10",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyResponseDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"409": {
						"description": "Conflict"
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties/{propertyId}/links/{linkId}": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Finds a link from a property",
				"description": "Returns a single link",
				"operationId": "findLink",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "linkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyLinkDTO"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Properties"
				],
				"summary": "Update one link by property",
				"operationId": "update_1",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "linkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PropertyLinkSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyLinkDTO"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Properties"
				],
				"summary": "Partial Updates link by property",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the PropertyLinkSaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "partialUpdate",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "linkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyLinkDTO"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties/{propertyId}/images/{imageId}": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Finds an image from a property",
				"description": "Returns a single image",
				"operationId": "findImage",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "imageId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyImageDTO"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Properties"
				],
				"summary": "Update one image by property",
				"operationId": "update_2",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "imageId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PropertyImageSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyImageDTO"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Properties"
				],
				"summary": "Partial Updates image by property",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the PropertyImageSaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "partialUpdate_1",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "imageId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyImageDTO"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties/{propertyId}/files/{fileId}": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Finds a file from a property",
				"description": "Returns a single file",
				"operationId": "findFile",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "fileId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyFileDTO"
								}
							}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Properties"
				],
				"summary": "Update one file by property",
				"operationId": "update_3",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "fileId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PropertyFileSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyFileDTO"
								}
							}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Properties"
				],
				"summary": "Partial Updates file by property",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the PropertyFileSaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "partialUpdate_2",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "fileId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyFileDTO"
								}
							}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties/{propertyId}/descriptions/{language}": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Finds a description by property and language",
				"description": "Returns a single description",
				"operationId": "findDescription",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "language",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyDescriptionDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Properties"
				],
				"summary": "Update a description by property",
				"operationId": "update_4",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "language",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PropertyDescriptionSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyDescriptionDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Properties"
				],
				"summary": "Add a description by property",
				"operationId": "create_5",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "language",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PropertyDescriptionSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyDescriptionDTO"
								}
							}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"409": {
						"description": "Conflict"
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Properties"
				],
				"summary": "Partial Updates description by property",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the PropertyDescriptionSaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "partialUpdate_3",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "language",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyDescriptionDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/contacts/{contactId}": {
			"get": {
				"tags": [
					"Contacts"
				],
				"summary": "Find contact by ID",
				"description": "Returns a single contact",
				"operationId": "findById_12",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactResponseDTO"
								}
							}
						}
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Contacts"
				],
				"summary": "Update contact",
				"operationId": "update_5",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ContactSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactResponseDTO"
								}
							}
						}
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"409": {
						"description": "Conflict"
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Contacts"
				],
				"summary": "Partial Updates contact",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the ContactSaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "update_11",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactResponseDTO"
								}
							}
						}
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"409": {
						"description": "Conflict"
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/contacts/{contactId}/files/{fileId}": {
			"get": {
				"tags": [
					"Contacts"
				],
				"summary": "Find a file by contact ID",
				"operationId": "findFile_1",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "fileId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactFileDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Contacts"
				],
				"summary": "Update a file by contact ID",
				"operationId": "update_6",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "fileId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ContactFileSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactFileDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Contacts"
				],
				"summary": "Partial Updates file by contact ID",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the ContactFileSaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "update_12",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "fileId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactFileDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/contacts/{contactId}/additionals/{additionalAddressId}": {
			"get": {
				"tags": [
					"Contacts"
				],
				"summary": "Find a additional address by contact ID",
				"operationId": "findAdditional",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "additionalAddressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactAdditionalDTO"
								}
							}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Contacts"
				],
				"summary": "Update a additional address by contact ID",
				"operationId": "update_7",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "additionalAddressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ContactAdditionalSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactAdditionalDTO"
								}
							}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Contacts"
				],
				"summary": "Partial Updates contact by contact ID",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the ContactAdditionalSaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "update_13",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "additionalAddressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactAdditionalDTO"
								}
							}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/activities/{activityId}": {
			"get": {
				"tags": [
					"Activities"
				],
				"summary": "Find activity by ID",
				"description": "Returns a single activity",
				"operationId": "findById_13",
				"parameters": [
					{
						"name": "activityId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ActivityResponseDTO"
								}
							}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Activities"
				],
				"summary": "Update activity",
				"operationId": "update_8",
				"parameters": [
					{
						"name": "activityId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ActivitySaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ActivityResponseDTO"
								}
							}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Activities"
				],
				"summary": "Partial Updates activity",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the ActivitySaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "update_14",
				"parameters": [
					{
						"name": "activityId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ActivityResponseDTO"
								}
							}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/activities/{activityId}/event": {
			"get": {
				"tags": [
					"Activities"
				],
				"summary": "Find event by activity ID",
				"description": "Returns activity event",
				"operationId": "findEvent",
				"parameters": [
					{
						"name": "activityId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ActivityEventDTO"
								}
							}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				},
				"deprecated": true
			},
			"put": {
				"tags": [
					"Activities"
				],
				"summary": "Update activity event",
				"operationId": "update_9",
				"parameters": [
					{
						"name": "activityId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ActivityEventSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ActivityEventDTO"
								}
							}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				},
				"deprecated": true
			},
			"post": {
				"tags": [
					"Activities"
				],
				"summary": "Add event to activity",
				"operationId": "add",
				"parameters": [
					{
						"name": "activityId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ActivityEventSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ActivityEventDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"409": {
						"description": "Conflict"
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					}
				},
				"deprecated": true
			},
			"patch": {
				"tags": [
					"Activities"
				],
				"summary": "Partial Updates activity event",
				"description": "A JSONPatch document as defined by RFC 6902 applied in the ActivityEventSaveDTO schema, more information at [jsonpatch.com](http://jsonpatch.com/)",
				"operationId": "update_15",
				"parameters": [
					{
						"name": "activityId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/JsonPatchOperation"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ActivityEventDTO"
								}
							}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				},
				"deprecated": true
			}
		},
		"/v1/web-leads": {
			"get": {
				"tags": [
					"Web Leads"
				],
				"summary": "Page of Web Lead",
				"operationId": "page",
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": [
								"PENDING",
								"PROCESSED"
							]
						}
					},
					{
						"name": "fromDate",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "toDate",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebLeadPageDTO"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Web Leads"
				],
				"summary": "Create a Web Lead",
				"operationId": "create",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WebLeadCreateDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebLeadResponseDTO"
								}
							}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Page of properties",
				"operationId": "page_2",
				"parameters": [
					{
						"name": "fromDateCreated",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "toDateCreated",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "fromDateModified",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "toDateModified",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "countryIso",
						"in": "query",
						"description": "Country ISO code",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "statusPublish",
						"in": "query",
						"description": "List of property publish statuses",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyPageDTO"
								}
							}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Properties"
				],
				"summary": "Create property",
				"operationId": "create_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PropertyCreateDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyResponseDTO"
								}
							}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"409": {
						"description": "Conflict"
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties/{propertyId}/links": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Finds all links for a property",
				"description": "Returns a list of links",
				"operationId": "findLinks",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/PropertyLinkDTO"
									}
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Properties"
				],
				"summary": "Add one link by property",
				"operationId": "create_2",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PropertyLinkSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyLinkDTO"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties/{propertyId}/images": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Finds all images for a property",
				"description": "Returns a list of images",
				"operationId": "findImages",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/PropertyImageDTO"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Properties"
				],
				"summary": "Add one image by property",
				"operationId": "create_3",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"$ref": "#/components/schemas/PropertyImageUploadDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyImageDTO"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/properties/{propertyId}/files": {
			"get": {
				"tags": [
					"Properties"
				],
				"summary": "Finds all files for a property",
				"description": "Returns a list of files",
				"operationId": "findFiles",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/PropertyFileDTO"
									}
								}
							}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Properties"
				],
				"summary": "Add one file by property",
				"operationId": "create_4",
				"parameters": [
					{
						"name": "propertyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"$ref": "#/components/schemas/PropertyFileUploadDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PropertyFileDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/contacts": {
			"get": {
				"tags": [
					"Contacts"
				],
				"summary": "Page of contacts",
				"operationId": "page_5",
				"parameters": [
					{
						"name": "email",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "email"
						}
					},
					{
						"name": "phone",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "emailAndPhoneAsOr",
						"in": "query",
						"description": "email and phone fields are used as OR",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					},
					{
						"name": "fromDateCreated",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "toDateCreated",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "fromDateModified",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "toDateModified",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "archived",
						"in": "query",
						"required": false,
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactPageDTO"
								}
							}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Contacts"
				],
				"summary": "Create contact",
				"operationId": "create_6",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ContactSaveDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactResponseDTO"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"409": {
						"description": "Conflict"
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/contacts/{contactId}/files": {
			"get": {
				"tags": [
					"Contacts"
				],
				"summary": "Find files by contact ID",
				"description": "Returns list of files",
				"operationId": "findFiles_1",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/ContactFileDTO"
									}
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Contacts"
				],
				"summary": "Add a file by contact ID",
				"operationId": "upload",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"$ref": "#/components/schemas/ContactFileUploadDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"style": "simple"
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ContactFileDTO"
								}
							}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
						"description": "Data not found",
						"content": {
							"application/json": {}
						}
					},
					"405": {
						"description": "Method not allowed",
						"content": {
							"application/json": {}
						}
					},
					"502": {
						"description": "Bad gateway"
					},
					"415": {
						"description": "Unsupported media type",
						"content": {
							"application/json": {}
						}
					},
					"429": {
						"description": "Rate limit exceeded",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/v1/contacts/{contactId}/additionals": {
			"get": {
				"tags": [
					"Contacts"
				],
				"summary": "Find additionals address by contact ID",
				"operationId": "findAdditionals",
				"parameters": [
					{
						"name": "contactId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {}
						}
					},
					"504": {
						"description": "Gateway timeout"
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {}
						}
					},
					"503": {
						"description": "Service unavailable"
					},
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/ContactAdditionalDTO"
									}
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {}
						}
					},
					"404": {
[...]
